    .years
    {
        height: 1080px;
        background-image: linear-gradient(to bottom, #292f36, #293748, #273f5b, #25476e, #244f82);
        margin-top: 24.3vw ;

    }

    .corp_wrap
    {
        margin: 0 auto;
        width: 1600px;
    }

    .years_title_box
    {
        height: 105px;
        padding-top: 3vw;
    }

    .years_title_box > h2
    {
        color: #fff;
        text-align: center;
        padding-top: 3vw;
        font-size: 45px;
    }

    .years_card
    {
        display: flex;
        justify-content: space-between;
        height: 750px;
        position: relative;
        overflow: hidden;
    }

    .years_card h1
    {
        text-align: center;
        line-height: 135px;
        color: #fff;
    }

    .card_a, .card_b, .card_c, .card_d
    {
        border-radius: 1.5vw 1.5vw 0 0;
        background-color: rgba(255, 255, 255, 0.2);
        width: 385px;
        height: 135px;
        position: absolute;
        bottom: 0;
    }

    .card_a > h2
    {
        color: #292F36;
        text-align: center;
        margin-bottom: 2vw;
    }

    .card_a ul li
    {
        margin: 0 2vw;
        margin-bottom: 0.3vw;
        list-style: none;
    }

    .card_a:hover
    {
        height: 695px;
        transition: all 0.5s ease-in-out;
        background-color: #FFD800;
    }

    .card_a:hover > h1
    {
        color: #244F82;
    }

    .card_a:not(:hover)
    {
        height: 135px;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.5S ease-in-out;
    }

    .card_b
    {
        left: 405px;
    }

    .card_b > h2
    {
        color: #292F36;
        text-align: center;
        margin-bottom: 2vw;
    }

    .card_b ul li
    {
        margin: 0 2vw;
        margin-bottom: 0.3vw;
        list-style: none;
    }

    .card_b:hover
    {
        height: 695px;
        transition: all 0.5s ease-in-out;
        background-color: #FFD800;
    }

    .card_b:hover > h1
    {
        color: #244F82;
    }

    .card_b:not(:hover)
    {
        height: 135px;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.5S ease-in-out;
    }

    .card_c
    {
        left: 810px;
    }

    .card_c > h2
    {
        color: #292F36;
        text-align: center;
        margin-bottom: 2vw;
    }

    .card_c ul li
    {
        margin: 0 2vw;
        margin-bottom: 0.3vw;
        list-style: none;
    }

    .card_c:hover
    {
        height: 695px;
        transition: all 0.5s ease-in-out;
        background-color: #FFD800;
    }

    .card_c:hover > h1
    {
        color: #244F82;
    }

    .card_c:not(:hover)
    {
        height: 135px;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.5S ease-in-out;
    }

    .card_d
    {
        left: 1215px;
    }

    .card_d > h2
    {
        color: #292F36;
        text-align: center;
        margin-bottom: 2vw;
    }

    .card_d ul li
    {
        margin: 0 2vw;
        margin-bottom: 0.3vw;
        list-style: none;
    }

    .card_d:hover
    {
        height: 695px;
        transition: all 0.5s ease-in-out;
        background-color: #FFD800;
    }

    .card_d:hover > h1
    {
        color: #244F82;
    }

    .card_d:not(:hover)
    {
        height: 135px;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.5S ease-in-out;
    }
